# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*

# Diagnostic reports
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Coverage
coverage/
*.lcov
.nyc_output

# Grunt
.grunt

# Compiled addons
build/Release

# Dependency directories
node_modules/
jspm_packages/
bower_components/

# Cache directories
.cache/
.parcel-cache/
.temp/
.vite/
.vitepress/cache
.rpt2_cache/
.rts2_cache_*/
.pnp.*
.pnpm-store/

# TypeScript
*.tsbuildinfo

# Lint/REPL caches
.eslintcache
.stylelintcache
.node_repl_history

# dotenv files
.env
.env.*.local

# Output of `npm pack`
*.tgz

# Yarn
.yarn/cache
.yarn/unplugged
.yarn/build-state.yml
.yarn/install-state.gz
.yarn-integrity

# VSCode
.vscode-test

# Others
lib-cov
.lock-wscript
.tern-port
.dynamodb/
.serverless/
.fusebox/
.docusaurus/

# ✅ DO NOT ignore dist/ for frontend deployment
# dist/
